PORT=5000
VITE_API_URL=https://todo-backend-hgb2.onrender.com
MONGODB_URI=mongodb+srv://saikiran:mongodbatlas_sai29@webdev.asdepyf.mongodb.net/backlogs
JWT_SECRET=your_jwt_secret_key_here
NODE_ENV=development
